<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneq.programmingpracticeplatform.mapper.ProblemSetsMapper">
    <resultMap id="ProblemSetsMap" type="com.oneq.programmingpracticeplatform.model.entity.problemsets.ProblemSets">
        <result column="info" property="info"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.prolemsetshandler.SetsInfoTypeHandler"/>
    </resultMap>

    <insert id="createProblemSets">
        INSERT INTO problem_sets (id, create_user, create_time, update_time)
        values (#{id}, #{createUser}, #{createTime}, #{updateTime})
    </insert>
    <update id="editProblemSetsInfo">
        UPDATE problem_sets
        <set>
            update_time=#{updateTime},
            <if test="openTime !=null and openTime > 0">
                open_time=#{openTime},
            </if>
            <if test="endTime !=null and endTime > 0">
                end_time=#{endTime},
            </if>
            <if test="info!=null">
                info=#{info,typeHandler=com.oneq.programmingpracticeplatform.typehandler.prolemsetshandler.SetsInfoTypeHandler}
            </if>
        </set>
    </update>
    <select id="getCreator" resultType="java.lang.Long">
        SELECT create_user
        FROM problem_sets
        WHERE id = #{problemSetsId}
    </select>
    <select id="getProblemSetsDetail"
            resultMap="ProblemSetsMap"
            resultType="com.oneq.programmingpracticeplatform.model.entity.problemsets.ProblemSets">
        SELECT *
        FROM problem_sets
        WHERE id=#{id}
    </select>
</mapper>