<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneq.programmingpracticeplatform.mapper.ProblemMapper">
    <resultMap id="ProblemMap" type="com.oneq.programmingpracticeplatform.model.entity.problem.Problem">
        <result property="solution" column="solution"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.problemhandler.ProblemSolutionTypeHandler"/>
        <result property="description" column="description"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.problemhandler.ProblemDescriptionTypeHandler"
        />
        <result property="tags" column="tags"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.StringToJsonTypeHandler"/>
        <result property="judgeConfig" column="judge_config"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.problemhandler.JudgeConfigTypeHandler"/>
        <result property="judgeInputs" column="judge_inputs"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.IntegerToJsonTypeHandler"/>
        <result property="judgeOutputs" column="judge_outputs"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.IntegerToJsonTypeHandler"/>
    </resultMap>

    <insert id="createProblem">
        INSERT INTO problem (id, creator, create_time, update_time)
        VALUES (#{id}, #{creator}, #{createTime}, #{updateTime});
    </insert>
    <update id="updateProblem">
        UPDATE problem
        <set>
            update_time=#{updateTime},
            <if test="description != null and description != ''">
                description =
                #{description,typeHandler=com.oneq.programmingpracticeplatform.typehandler.problemhandler.ProblemDescriptionTypeHandler},
            </if>
            <if test="tags != null and tags != ''">
                tags = #{tags,typeHandler=com.oneq.programmingpracticeplatform.typehandler.StringToJsonTypeHandler},
            </if>
            <if test="solution != null and solution != ''">
                solution =
                #{solution,typeHandler=com.oneq.programmingpracticeplatform.typehandler.problemhandler.ProblemSolutionTypeHandler},
            </if>
            <if test="judgeConfig != null and judgeConfig != ''">
                judge_config =
                #{judgeConfig,typeHandler=com.oneq.programmingpracticeplatform.typehandler.problemhandler.JudgeConfigTypeHandler},
            </if>
            <if test="visible!=null">
                visible=#{visible,typeHandler=com.oneq.programmingpracticeplatform.typehandler.enumhandler.ProblemVisibleHandler},
            </if>
            <if test="judgeInputs != null">
                judge_inputs =
                #{judgeInputs,typeHandler=com.oneq.programmingpracticeplatform.typehandler.IntegerToJsonTypeHandler},
            </if>
            <if test="judgeOutputs != null">
                judge_outputs =
                #{judgeOutputs,typeHandler=com.oneq.programmingpracticeplatform.typehandler.IntegerToJsonTypeHandler},
            </if>
        </set>
        WHERE id=#{id};
    </update>

    <select id="getProblemDetail"
            resultType="com.oneq.programmingpracticeplatform.model.entity.problem.Problem"
            resultMap="com.oneq.programmingpracticeplatform.mapper.ProblemMapper.ProblemMap">
        SELECT id,
               title,
               description,
               tags,
               solution,
               judge_config,
               visible,
               judge_inputs,
               judge_outputs
        FROM problem
        WHERE id = #{id}
    </select>

    <select id="getProblemInputDetail"
            resultType="com.oneq.programmingpracticeplatform.model.entity.problem.Problem"
            resultMap="ProblemMap">
        SELECT judge_inputs
        FROM problem
        WHERE id = #{id}
    </select>
    <select id="getProblemJudgeInfo"
            resultMap="ProblemMap"
            resultType="com.oneq.programmingpracticeplatform.model.entity.problem.Problem">
        SELECT judge_outputs,judge_config
        FROM problem as p,submission as s
        WHERE s.id = #{id} and p.id=s.problem_id
    </select>

</mapper>
