<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneq.programmingpracticeplatform.mapper.ProblemMapper">
    <resultMap id="ProblemMap" type="com.oneq.programmingpracticeplatform.model.entity.problem.Problem">
        <result property="solution" column="solution"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.ProblemSolutionTypeHandler"/>
        <result property="description" column="description"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.ProblemDescriptionTypeHandler"
        />
        <result property="tags" column="tags"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.StringToJsonTypeHandler"/>
        <result property="judgeConfig" column="judge_config"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.JudgeConfigTypeHandler"/>
    </resultMap>

    <insert id="createProblem">
        INSERT INTO problem (id, creator, create_time, update_time)
        VALUES (#{id}, #{creator}, #{createTime}, #{updateTime});
    </insert>
    <update id="updateProblem">
        UPDATE problem
        <set>
            update_time=#{updateTime},
            <if test="description != null and description != ''">
                description =
                #{description,typeHandler=com.oneq.programmingpracticeplatform.typehandler.ProblemDescriptionTypeHandler},
            </if>
            <if test="tags != null and tags != ''">
                tags = #{tags,typeHandler=com.oneq.programmingpracticeplatform.typehandler.StringToJsonTypeHandler},
            </if>
            <if test="solution != null and solution != ''">
                solution =
                #{solution,typeHandler=com.oneq.programmingpracticeplatform.typehandler.ProblemSolutionTypeHandler},
            </if>
            <if test="judgeConfig != null and judgeConfig != ''">
                judge_config =
                #{judgeConfig,typeHandler=com.oneq.programmingpracticeplatform.typehandler.JudgeConfigTypeHandler},
            </if>
            <if test="visible!=null">
                visible=#{visible,typeHandler=com.oneq.programmingpracticeplatform.typehandler.enumhandler.ProblemVisibleHandler}
            </if>
            <!--            <if test="judgeInputs != null and judgeInputs != ''">-->
            <!--                judge_inputs = #{judgeInputs},-->
            <!--            </if>-->
            <!--            <if test="judgeOutputs != null and judgeOutputs != ''">-->
            <!--                judge_outputs = #{judgeOutputs},-->
            <!--            </if>-->
        </set>
        WHERE id=#{id};
    </update>

    <select id="getProblemDetail"
            resultType="com.oneq.programmingpracticeplatform.model.entity.problem.Problem">
        SELECT id, title, description, tags, solution, judge_config, visible
        FROM problem
        WHERE id = #{id}
    </select>
</mapper>
