<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneq.programmingpracticeplatform.mapper.ProblemSetsProblemMapper">
    <insert id="addProblem">
        INSERT INTO problem_sets_problem (problem_sets_id, problem_id)
        VALUES (#{problemSetsId}, #{problemId})
    </insert>
    <delete id="delProblem">
        DELETE
        FROM problem_sets_problem
        WHERE problem_sets_id = #{problemSetsId}
          AND problem_id = #{problemId}
    </delete>
    <select id="getProblemsTotal" resultType="java.lang.Integer">
        select count(1)
        from problem_sets_problem
        where problem_sets_id = #{problemSetsId}
    </select>
    <select id="getProblems"
            resultMap="com.oneq.programmingpracticeplatform.mapper.ProblemMapper.ProblemMap"
            resultType="com.oneq.programmingpracticeplatform.model.entity.problem.Problem">
        SELECT p.id, p.title
        FROM problem as p,
             problem_sets_problem as psp
        WHERE psp.problem_sets_id = #{problemSetsId}
          AND psp.problem_id = p.id
        ORDER BY p.id
        LIMIT #{limit} OFFSET #{offSet}
    </select>
</mapper>
