<?xml version="1.0" encoding="UTF-8"?>
<!-- @author <a href="https://github.com/liyupi">程序员鱼皮</a> -->
<!-- @from <a href="https://yupi.icu">编程导航知识星球</a> -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneq.programmingpracticeplatform.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.oneq.programmingpracticeplatform.model.entity.user.User">
        <result property="auth" column="auth" javaType="com.oneq.programmingpracticeplatform.model.enums.AuthEnum"
                typeHandler="com.oneq.programmingpracticeplatform.typehandler.enumhandler.AuthTypeHandler"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.oneq.programmingpracticeplatform.model.entity.user.User">
        INSERT INTO users (id, username, password, auth, create_time, update_time)
        VALUES (#{id}, #{username}, #{password}, #{auth}, #{createTime}, #{updateTime})
    </insert>
    <update id="updateUserAuth">
        UPDATE users SET auth=#{auth} WHERE username=#{username};
    </update>

</mapper>
